<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                A-Pc <small>by A-Maze</small>
            </a>
        </div>
    </div>
</nav>

<div class="container top-margin">
    <div class="col-md-12 shadow bottom-margin">
        <div class="row top-margin">
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-cpu.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">CPU</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-motherboard.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Motherboard</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-gpu.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">GPU</h4></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-harddrive.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Hard drive</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-opticaldrive.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Optical drive</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-cooler.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Cooler</h4></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-ram.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">RAM</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-powersupply.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Power supply</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="panel panel-default component">
                    <div class="panel-body">
                        <a><img class="center-block" src="<%= asset_path('icon-case.png') %>"></a>
                    </div>
                    <div class="panel-footer ">
                        <a><h4 class="text-center">Case</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>